<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="80">
        <mat-nav-list class="nav-list">
            <a mat-list-item [routerLink]="['/home']">
                <i class="material-icons">
                    home
                </i>
                Inicio
            </a>
            <a mat-list-item [routerLink]="['/autor']">
                <i class="material-icons">
                    person
                </i>
                Autores
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    store
                </i>
                Editora
            </a>

            <a mat-list-item>
                <i class="material-icons">
                    menu_book
                </i>
                Livros
            </a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>